.contact {
    background-color: white;
    background: url('../assets/galaxy.jpg');
    opacity: 0.95;
    padding-top: 1rem;
    padding-bottom: 4rem;
}

.contact h1 {
    font-size: 3.5rem;
    font-style: bold;
    color: var(--font-color);
}

.allSocials {
    width: 100%;
    height: 100%;
    list-style-type: none;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0 5rem 1rem 5rem;
}

.social {
    border: 3px solid var(--font-color);
    width: 240px;
    justify-content: flex-start;
    margin: 1rem 3rem;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 2rem;
    transform: translateY(0px);
    box-shadow: 0px 0px 0px black;
    transition: transform 200ms linear, box-shadow 200ms linear;
}

.social:hover {
    transform: translateY(-7px);
    box-shadow: 0px 15px 10px rgb(11, 11, 11);
    transition: transform 200ms linear, box-shadow 200ms linear;
}

.social:active {
    filter: brightness(70%);
}

.link {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding: -2rem;
}

.icon {
    font-size: 3rem;
    padding-top: 0.8rem;
}

.social p {
    font-size: 1.5rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1.5px;
}

.linkedin {
    background: linear-gradient(180deg, #0a66c2, #2e82d6);
    padding-left: -1rem;
}



.instagram {
    background: linear-gradient(150deg, #833ab4,#fd1d1d,#fcb045);
}

.github {
    background: rgb(21, 21, 21);
}

.email {
    background: linear-gradient(250deg, #641e69, #8a3e91);
}

@media screen and (max-width: 800px) {
    .allSocials {
        display: block;
        align-items: center;
    }

    .social {
        width: 75%;
    }

    .social:not(.email) {
        margin-bottom: 2.5rem;
    }
}