.about {
    margin: 0 auto;
    padding: 3rem 0;
    box-sizing: border-box;
    background-image: url(../assets/starrysky.jpg);
    display: block;
    justify-content: space-evenly;
}

.bigTitle {
    display: inline-block;
    font-size: 50px;
    color: white;
    padding-top: 5rem;
}

.bigTitle h1 {
    box-sizing: border-box;
    border-right: 4px solid white;
    letter-spacing: 5px;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 1.5s steps(20), cursor 0.5s step-end infinite alternate;
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.selfPortrait {
    display: block;
    border-radius: 10rem;
    margin: 0 auto 4rem;
}

.resume {
    border: 2px solid var(--font-color);
    width: 30%;
    height: 70px;
    box-sizing: border-box;
    margin: 2.5rem auto 2rem auto;
    background-color: rgb(48, 58, 115);
    transition: background-color 200ms linear;
    border-radius: 3rem;
    margin-bottom: 0;
}

.resume:hover {
    background-color: rgb(55, 73, 173);
    transition: background-color 200ms linear;
}

.resumeLink {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 3rem;
    text-decoration: none;
}

.resumeLink h2 {
    color: var(--font-color);
    margin: 1.1rem auto 0 auto;
}

@media screen and (max-width: 800px) {
    .bigTitle {
        font-size: 20px;
    }

    .resume {
        width: 70%;
    }
}