.about {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    box-sizing: border-box;
    background-image: url(../assets/starrysky.jpg);
    display: flex;
    justify-content: space-evenly;
}

.bigTitle {
    font-size: 50px;
    color: white;
    margin-top: 5vh;
}

.selfPortrait {
    border-radius: 10rem;
}

.resume {
    border: 2px solid var(--font-color);
    width: 50%;
    box-sizing: border-box;
    margin: 2.5rem auto 0 auto;
    background-color: rgb(48, 58, 115);
    transition: background-color 200ms linear;
    border-radius: 3rem;
}

.resume:hover {
    background-color: rgb(55, 73, 173);
    transition: background-color 200ms linear;
}

.resumeLink {
    position: absolute;
    width: 17.8%;
    height: 60px;
    display: block;
    color: black;
    border-radius: 3rem;
}

.resume h2 {
    color: var(--font-color);
}