.about {
    margin: 0 auto;
    box-sizing: border-box;
    background-image: url(../assets/starrysky.jpg);
    display: block;
    justify-content: space-evenly;
}

.bigTitle {
    font-size: 50px;
    color: white;
    padding-top: 1px;
}

.selfPortrait {
    border-radius: 10rem;
}

.resume {
    border: 2px solid var(--font-color);
    width: 30%;
    box-sizing: border-box;
    margin: 2.5rem auto 2rem auto;
    background-color: rgb(48, 58, 115);
    transition: background-color 200ms linear;
    border-radius: 3rem;
    margin-bottom: 0;
}

.resume:hover {
    background-color: rgb(55, 73, 173);
    transition: background-color 200ms linear;
}

.resumeLink {
    width: 17.8%;
    display: block;
    color: black;
    border-radius: 3rem;
}

.resume h2 {
    color: var(--font-color);
}

@media screen and (max-width: 800px) {
    .bigTitle {
        font-size: 35px;
    }

    .resume {
        width: 70%;
    }
}