/* * {
    border: 2px solid red;
} */

.pages {
    position: relative;
    background: linear-gradient(rgb(10, 10, 10), rgb(20, 20, 20));
    margin: 0 auto;
    padding-top: 1rem;
    color: var(--font-color);
    padding-bottom: 2rem;
}

.pages h1 {
    font-size: 3rem;
    font-style: bold;
}

.subheading {
    margin-bottom: 3rem;
}

.projects {
    width: 100%;
    list-style-type: none;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.project {
    /* box-sizing: border-box;
    width: 25%;
    background-color: var(--font-color);
    padding: 1rem 0;
    margin: 2rem 3.5rem;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 30px;
    box-shadow: 20px 20px 10px gray; */
    width: 90%;
    background-color: var(--background-color);
    padding: 2rem 0;
    margin: 1.7rem 2rem;
    border-radius: 10px;
    border-bottom: 3px solid var(--font-color);
    transition: background-color 250ms ease;
}

.project:hover {
    background-color: rgb(67, 64, 88);
    transition: background-color 250ms ease;
}

.element {
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none;
    color: black;
}

.left-right-container {
    display: flex;
}

.text {
    color: var(--font-color);
}

.text h2 {
    font-size: 2.5rem;
    width: 85%;
    margin: 2rem auto;
}

.text {
    width: 70%;
    height: 100%;
    display: block;
}

.project-description {
    width: 70%;
    margin: 0 auto;
    line-height: 1.5rem;
    font-size: 1rem;
}

.technology-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
    margin: 2rem auto;
}

.technology {
    border: 2px solid var(--font-color);
    font-size: 1rem;
    padding: 1rem;
    border-radius: 10px;
    margin-right: 1.5rem;
    cursor: default;
    background-color: var(--background-color);
    transition: background-color 100ms linear;
}

.technology:hover {
    background-color: rgb(59, 57, 69);
    transition: background-color 100ms linear;
}

.project-image {
    width: 20%;
    display: flex;
    justify-content: right;
}
.blueBar {
    width: 80%;
    border: none;
    border-top: 5px solid rgb(88, 88, 226);
    border-radius: 2px 2px;
    padding: 3px;
}

.blueBar:last-of-type {
    margin-top: 3rem;
    margin-bottom: 0;
}

@media screen and (max-width: 800px) {

    .projects {
        display: block;
        box-sizing: border-box;
    }

    .project {
        width: 80%;
        margin-bottom: 4rem;
    }

    .left-right-container {
        display: block;
    }

    .text {
        width: 100%;
    }

    .technology-container {
        width: 90%;
    }

    .project-image {
        margin: 0 auto;
        width: 300px;
        height: 300px;
    }
}
